.cont__top{
    background-color: #000;
    height: 40px;
}
.top__title{
    color: #fff;
    font-size: 1em;
}
.main{
    margin-bottom: 40px;
}
.mr-4{
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 50%;
}
.d-flex{
    height: 150px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.px-3{
    color: #000;
    text-decoration: none;
    margin-right: 10px;
    text-transform: uppercase;
}
.px-3:hover{
    border-bottom: 1px solid #000;
}

.footer__link{
    color: #000;
    margin: 0 50px;
    text-decoration: none;
    text-transform: uppercase;
   
}
.footer__media{
    height: 50px;
    width: 50px;
}
.container__social{
    height: 100px;
    background-color: #fff;
}
.footer__icon{
    height: 50px;
    width: 50px;
}
.background{
    background-color: #fff;
    height: 140px;
    padding: 1px;
    margin-top: 50px;
}
.footer__link{
    color: #000;
    margin: 0 50px;
    text-decoration: none;
    text-transform: uppercase;
   
}
.footer__media{
    height: 50px;
    width: 50px;
}
.container__social{
    height: 100px;
    background-color: #fff;
}
.footer__icon{
    height: 50px;
    width: 50px;
}
